.page-title-box {
    padding-bottom: 1.25rem;
    h4 {
        font-weight: 600;
        font-size: 18px!important;
    }
    .breadcrumb-item>a {
        color: #495057;
    }
}

.card-body{
    .float-end {
        float: right!important;
    }
    .avatar-lg {
        height: 6rem;
        width: 6rem;
    }

    h5{
        color: #495057;
    }
}

.font-size-16 {
    font-size: 16px!important;
}

.font-size-20 {
    font-size: 20px!important;
}

.shop{

    .nav-link {
        display: block;
        padding: .5rem 1rem;
        color: #5b73e8;
        -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    }

    .nav-tabs-custom {
        border-bottom: 2px solid #f6f6f6;
        .nav-item {
            position: relative;
            color: #343a40;
            .nav-link {
                border: none;
            }
            .nav-link::after {
                content: "";
                background: #5b73e8;
                height: 2px;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: -2px;
                -webkit-transition: all 250ms ease 0s;
                transition: all 250ms ease 0s;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            .nav-link.active:after {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            
        }
    }



    .nav-justified .nav-item, .nav-justified>.nav-link {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;
    }

    .nav-justified .nav-item .nav-link {
        width: 100%;
    } 
    
    
    .nav-tabs .nav-link.active{
        color: #495057;
        background-color: #fff;
        border-color: #ced4da #ced4da #fff;
    }



    .nav-tabs .nav-link {
            margin-bottom: -1px;
            background: 0 0;
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        
    .nav-tabs-custom .nav-item .nav-link.active {
            color: #5b73e8;
        }


    .nav-tabs>li>a {
        color: #495057;
        font-weight: 500;
    }


    .nav-link:focus, .nav-link:hover {
        color: #1e3ed8;
    }

    .pagination{
        padding-bottom: .25rem !important;
        margin-bottom: 1.5rem !important;
        margin-top: 1rem !important;
        -webkit-box-pack: center !important;
        justify-content: center !important;

        .page-link{
            color: #74788d;
            background-color: #fff;
            border: 1px solid #ccd4da;
            border-radius: 30px!important;
            margin: 0 3px!important;
            border: none;
            width: 32px;
            height: 32px;
            padding: 0;
            text-align: center;
            line-height: 32px;
            -webkit-transition: color .15s 
                        ease-in-out,background-color .15s 
                        ease-in-out,border-color .15s 
                        ease-in-out,box-shadow .15s
                        ease-in-out,-webkit-box-shadow .15s
                        ease-in-out;
            transition: color .15s 
                        ease-in-out,background-color .15s 
                        ease-in-out,border-color .15s 
                        ease-in-out,box-shadow .15s
                        ease-in-out,-webkit-box-shadow .15s
                        ease-in-out;
        }
        .page-link:hover{
            z-index: 2;
            color:#4458b8;
            text-decoration: none;
            background-color: #eff2f7;
            border-color: #ced4da;
        }
        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #556ee6;
            border-color: #556ee6;
        }
        .page-item.disabled .page-link {
            color: #ced4da;
            border-color: #ced4da;
        }
    }

}


.prooduct-details-box {
    margin-bottom: 30px;
    .media {
        border: 1px solid #d7e2e9;
        border-radius: 10px;
        padding: 15px 0;
        width: 100%;
        position: relative;
        .img-60 {
            width: 60px !important;
        }
        .media-body{
            .product-name { 
                h6{
                    overflow:hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    font-size: 1rem;
                    a{
                        color: gray;
                    }
                }
            }
            .price{
                .me-2 {
                    margin-right: 0.5rem !important;
                }
            }
            .avaiabilty{
                .text-success {
                    color: #198754 !important;
                }
            }
            .btn-primary {
                background-color: #5b73e8 !important;
                border-color: #5b73e8 !important;
            }
        }
    }
    .ms-3 {
        margin-left: 1rem !important;
    }

}

.alert-primary {
    color: #5b73e8;
    background-color: #dee3fa;
    border-color: #ced5f8;
}

@media (max-width: 575.98px){
    .page-title-box .page-title-right {
        display: none;
    }
}
