.department-list {
  min-height: 100%;
}

.department-list .department {
  height: 350px;
  border-radius: 10px;
  padding: 10px;
}

.department-list .department2 {
  height: 350px;
  background: pink;
  border-radius: 10px;
  padding: 10px;
}

