.news-list-container {
    font-size: 20px;
    background-color: white;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.15);
    border: 0px solid rgba(0,0,0,.0625);
  
    .year-th {
        white-space: nowrap;
        vertical-align: middle;
    }
  
    .badge-salmon{
       background: #ff5959;
    }
  }