.news-manage-card {
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
}

.news-manage-card .news-manage-header {
  padding: 20px;
  margin-bottom: 0;
  align-items: center !important;
  border-bottom: 1px solid #f1f1f1;
}

.news-manage-card .news-manage-header .news-manage-header-title .news-title {
  margin-bottom: 0;
}

.news-manage-card .news-manage-body {
  padding: 20px;
}

.news-manage-card button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.news-manage-card .btn-primary {
  background: #1e7fe4;
  border-color: #1e7fe4;
}

.news-manage-card .bg-primary {
  color: #fff;
  background: #1e7fe4;
}

.news-manage-card .bg-salmon,
.news-manage-card .badge-salmon {
  color: #fff;
  background: #FA8072;
}

