body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
  background-color: black;
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.error_block {
  color: #B0BEC5;
  text-align: center;
  display: inline-block;
}

.error_block a {
  font-size: 30px;
}

.error_title {
  font-size: 100px;
  margin-bottom: 40px;
}

.error_content {
  font-size: 72px;
  margin-bottom: 40px;
}

