.order-manage-card{
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
    box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);

    .order-manage-header{
        padding: 20px;
        margin-bottom: 0;
        -ms-flex-align: center !important;
        -webkit-box-align: center !important;
        align-items: center !important;
        border-bottom: 1px solid #f1f1f1;

        .order-manage-header-title{

            .card-title{
                margin-bottom: 0;
            }
        }
    }
    .order-manage-body{
        padding: 20px;

        .custom-select{
            line-height:0.8;
        }

        .table th, .table td{
            
            text-align: center;

            padding: 1.5rem;

            vertical-align: middle;

        }
        

        .table thead{
            background-color: #1e7fe4;
            color:#fff;
            text-align: center;
        }
        
      }
  
  
     button:focus{
  
       outline: none !important;
       box-shadow: none !important;
  
     } 
  
     .btn-primary{
         background: rgb(30, 127, 228);
         border-color: rgb(30, 127, 228);
     } 

     .bg-primary{
        color:#fff;
        background: #1e7fe4;
     }

     .bg-salmon,.badge-salmon{
        color:#fff;
        background: #FA8072;
     }

  
  }

  .table.dataTable thead th, .table.dataTable thead td{

    border-bottom: 1px solid #dddddd;
}


.item-detail{

    td{
        vertical-align: middle;
    }
}

.change-status{
    .custom-control-label::before, 
    .custom-control-label::after {
        top: .5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}