// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* universal */

body {
   // display: flex;
    background-color: #E4EDEF;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "proxima-nova", "Source Sans Pro",Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
  }
  
  /* header */
  
  .navbar-static-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #00b5ad;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 40px;
    margin-top: 0px;
  }
  
  /* Sticky footer styles */
html {
    position: relative;
    height: 100%;
  }
  

  // body {
  //   /* Margin bottom by footer height */
  //   margin-bottom: 80px;
  // }
  
  .footer {
    position: absolute;
    border-top: 1px solid #e1eaea;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color:#f3f8fa;
  
    .container {
      padding-right: 15px;
      padding-left: 15px;
  
      p {
        margin: 19px 0;
        color: #000;
  
        a {
          color: inherit;
        }
      }
    }
  }

.main{
  min-height:100%;
  position:relative;
}

#content{
  padding:10px;
  padding-bottom:80px;
}
  