// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* universal */

body {
    // display: flex;
    background-color:#e9ecef;
    height: 100vh;
    margin: 0;
    font-weight: 400;
    font-family: "proxima-nova", "Source Sans Pro", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
  }
  
html {
    position: relative;
    height: 100vh;
  }
  
  h5 {
    font-size: 1.200em;
  }
  
  
.hide{
  display: none!important;

}

.stop{
  :disabled{
    background: gray;
  }
}






  