.product{
    min-height: 100%;
    .left{
        background-color:#e9ecef;
        height: 650px;
        .big-image{
            margin-top: 10px;
            height: 75%;
            .tag-left{
               float: left;
               position: absolute;
               left:0px;
               top:35%;
               z-index:1000;
               background-color: #92AD40;
               padding:5px;
               color:#FFFFFF;
               font-weight: bold;
            }
            .image{
                width: 100%;
                height: 100%;
            }
            .tag-right{
                float: right;
                position: absolute;
                right:0px;
                top:35%;
                z-index:1000;
                background-color: #92AD40;
                padding:5px;
                color:#FFFFFF;
                font-weight: bold;
             }

        }
        .small-image{
            height: 20%;
            margin-top: 10px;
            .xsimage{
                width: 20%;
                height: 100%;
                float: left;
               
                .images{
                    width: 100%;
                    height: 100%;
                }
                .active{
                    border:1px solid #FF1493;
                }
            }
        }
    }
    .right{
        min-height: 100%;
        border-left: 1px solid rgba(0,0,0,.1);
        background-color: #fff;
        box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
        .product-name{
            margin-top: 10px;
            .inner-detail{
                padding: 10px;
                .operate{
                    display: flex;
                    justify-content: center;
                }
                .classname{
                        background-color: powderblue;
                     }    
            }
            .hr-text {
                line-height: 1em;
                position: relative;
                outline: 0;
                border: 0;
                color: black;
                text-align: center;
                height: 1.5em;
                opacity: .5;
                &:before {
                  content: '';
                  // use the linear-gradient for the fading effect
                  // use a solid background color for a solid bar
                  background: linear-gradient(to right, transparent, #818078, transparent);
                  position: absolute;
                  left: 0;
                  top: 50%;
                  width: 100%;
                  height: 1px;
                }
                &:after {
                  content: attr(data-content);
                  position: relative;
                  display: inline-block;
                  color: black;
              
                  padding: 0 .5em;
                  line-height: 1.5em;
                  // this is really the only tricky part, you need to specify the background color of the container element...
                  color: #818078;
                  background-color: #fcfcfa;
                }
              }
        }
        .save{
            transition: all .3s ease;
            border-radius: 50px;
            width: 48%;
            float: left;
            border: 2px solid rgb(250, 128, 114);
            color: rgb(250, 128, 114);
            background-color: #FFF;
            &:hover{
                color:#fff;
                background-color: rgb(250, 128, 114);
            }
            //#D9534F
        }
        .saved{
            transition: all .3s ease;
            border-radius: 50px;
            width: 48%;
            float: left;
            border: 2px solid rgb(250, 128, 114);
            color: #fff;
            background-color:rgb(250, 128, 114);
                i{
                    color:#fff;
                }
    
    }
        .cart{
            transition: all .3s ease;
            border: 2px solid rgb(30, 127, 228);
            border-radius: 50px;
            width: 48%;
            float: right;
            color:#fff;
            background-color: rgb(30, 127, 228);

        }


        .buy{
            margin-top:20px;
            margin-bottom:20px;
            float: left;
            transition: all .3s ease;
            border-radius: 50px;
            width: 100%;
            float: left;
            color: #fff;
            background: rgb(60, 179, 113);
        }        
    }
    .user{
        min-height: 100px;
        background-color: #fff;
           .user-data{
            width: 100%;
            height: 100%;
        .user-avatar{
            float: left;
            margin-top: 10px;
            width: 80px;
            height: 80px;
             img{
                 width: 100%;
                 height: 100%;
                 border-radius: 50px;
                 border:1px solid #000;
             }
        }
        .user-name{
            float: left;
            width: 120px;
            height: 80px;
            margin-top: 15px;
            margin-left: 15px;
         }

         .user-contact{
            width: 180px;
            height: 50px;
            margin-top: 15px;
            margin-left: 10px;
            float: right;
         }
        }
        .product-comment{
            // min-height: 100%;
            a {
                color: inherit;
            }
        
            .meta {
                font-size: .9em;
                color: #b3b3b3;
            }
        }
        
    }
    
    //   @media screen and (max-width: 200px) {
    //      .user-contact{
    //          width: 100px;
    //          float: left;
    //         margin-top: 10px;
    //      }
    //   }
}

@media screen and (max-width: 720px) {
    .left{
        height: 550px;
    }
  }