.admin-products-card {
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
}

.admin-products-card .admin-products-header {
  padding: 20px;
  margin-bottom: 0;
  align-items: center !important;
  border-bottom: 1px solid #f1f1f1;
}

.admin-products-card .admin-products-header .admin-products-header-title .card-title {
  margin-bottom: 0;
}

.admin-products-card .admin-products-body {
  padding: 20px;
}

.admin-products-card .admin-products-body .custom-select {
  line-height: 0.8;
}

.admin-products-card .admin-products-body .table th,
.admin-products-card .admin-products-body .table td {
  text-align: center;
  padding: 1.5rem;
  vertical-align: middle;
}

.admin-products-card .admin-products-body .table thead {
  background-color: #1e7fe4;
  color: #fff;
  text-align: center;
}

.admin-products-card .admin-products-body .tbody-color {
  background-color: #FFC0CB;
}

.admin-products-card .bg-primary {
  color: #fff;
  background: #1e7fe4;
}

.admin-products-card .bg-salmon {
  color: #fff;
  background: #FA8072;
}

.table.dataTable thead th,
.table.dataTable thead td {
  border-bottom: 1px solid #dddddd;
}

