
    .line-pay-block { 

        width: 100%;
        height: 100%;

        .line-pay-logo{
            margin-top: 30%;   
            max-width: 100%;
            height: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .line-pay-order {
            margin-top: 3%;
            text-align: center;
            font-size: 22px;
        }

        .order-confirm{

            margin-top: 3%;

            button{
                border-radius: 50px;
                width: 150px;
                height: 50px;
            }
        }
    }


 
