.page-title-box {
    padding-bottom: 1.25rem;
}


.custom-info{
    .card {
        margin-bottom: 1.25rem;
        -webkit-box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
        box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    }
    .card+.card {
        margin-top: .5rem;
    }
    a.text-dark {
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
            .me-3{
                margin-right: 1rem!important;
            }
            .text-primary{
                color: #5b73e8!important;
            }
            .font-size-16 {
                font-size: 16px!important;
            }
            .font-size-24 {
                font-size: 24px!important;
            }
            .mdi:before {
                display: inline-block;
                font-size: inherit;
                text-rendering: auto;
                line-height: inherit;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
      }

      .fa-chevron-up {
        transition: all 0.3s ease;
     }

      a[aria-expanded="false"] .fa-chevron-up {
        transform: rotate(180deg);
      }

      h5 {
        color: #495057;
    }

    .payment-info{
        .card-radio-label {
            display: block;
            .card-radio-input {
                display: none;
            }
            .card-radio {
                background-color: #fff;
                border: 3px solid #f6f6f6;
                border-radius: .25rem;
                padding: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                cursor: pointer;
            }
            .card-radio-input:checked+.card-radio {
                border-color: #5b73e8!important;
            }
        }
    } 
}

.confirm{
    .me-1 {
        margin-right: .25rem!important;
    }
    .text-end {
        text-align: right!important;
    }
    .btn-link {
        font-weight: 400;
        color: #5b73e8;
        text-decoration: none;
    }
    .btn-confirm {
        background-color: #5b73e8;
        color: #fff;
    }
}

.checkout-order-summary{
    .avatar{
        height: 5rem;
        width: 4.5rem;
    }
    .table th {
        font-weight: 600;
    }
    .table>:not(:last-child)>:last-child>* {
        border-bottom-color: #f5f6f8;
    }
    .table-centered td, .table-centered th {
        vertical-align: middle!important;
    }
    .table-nowrap td, .table-nowrap th {
        white-space: nowrap;
    }
    .table>:not(caption)>*>* {
        border-bottom-width: 0;
        border-top-width: 1px;
    }

    .table>tbody {
        vertical-align: inherit;
    }

    .bg-light {
        background-color: #f5f6f8!important;
    }
}

.error{
    border:1px solid red;
  
  }