$primary:#fb6969;
$white:#fff;
body{
  font-family:Roboto;
  font-size:16px;
}
@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
  color:inherit;
  text-decoration:none;
}


.product-card{
  position:relative;
  margin-bottom:26px;
  transition: transform .5s;
  @include hover-focus-active{
      transform:translateY(-8px);
  }
  &__content{    
    height: 100%;
    @include hover-focus-active{
      box-shadow:0 12px 20px rgba(0,0,0,.2);
      color:inherit;
      text-decoration:none;
    }
    border-radius:6px;
    padding: 24px 16px 36px;
    background-color:$white;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
    transition: box-shadow .3s ease-in-out;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    flex-direction:column;
  }
  &__actions{
    position:absolute;
    bottom:-20px;    
    margin: 0 24px;
    left:24px;
    right:24px;
    display:flex;
    justify-content:center;
  }
  &__icon-btn{
    height:40px;
    width:40px;
    min-height:40px;
    min-width:40px;
    background-color:$white;
    border-radius:100%;
    justify-content:center;
    align-items:center;
    display:flex;
    color:$primary;
    box-shadow:0 2px 5px 2px rgba(0,0,0,.1);
    transition:transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;
    @include hover-focus-active{
      text-decoration:none;
      color:$white;
      background-color:darken($primary, 5%);
      box-shadow:0 2px 5px 2px transparentize($primary,.4);
      transform:translateY(-3px);
    }
  }
  &__btn{
    border-radius:32px;
    text-align:center;
    white-space:nowrap;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    color:$white;
    font-weight:600;
    background-color:#191970;
    transition:transform .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out, color .3s ease-in-out;
    box-sizing:border-box;
    padding:0 2.5em;
    height:40px;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:10px;
    &:hover,&:focus,&:active{
      text-decoration:none;
      color:$white;
      background-color:#0f61f4;
      box-shadow:0 2px 10px 2px rgba(0,0,0,.1);
      transform:translateY(-3px);
    }
    &--add-to-cart{
        &:before{
            content:"\f067";
            font-family:'Font Awesome 5 Pro';
            display:inline-flex;
            align-items:center;
            justify-content:center;
            margin-right:.5rem;
        }
    }
  }
  &__img{
    display:block;
    width:100%;    
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    margin-bottom:24px;
    height:200px;
  }
  &__title{
    font-weight:500;
    font-size:16px;
    text-align:center;
    margin-bottom:12px;
  }
  &__subtitle{
    font-size:13px;
    color:#b0b0b0;
    text-align:center;
  }
  &__price{
    font-size:24px;
    text-align:center;
    margin-bottom:12px;
    font-weight: bolder;
  }
  &__reviews{
      display:flex;
      justify-content:center;
      align-items:center;
      font-size:13px;
  }
}

  .rank_autoplay a:focus{
  outline:none;
  box-shadow: none;
}

// .slick-prev::before, .slick-next::before {
//   font-family: FontAwesome;
// }
// .slick-prev::before {
//   /* fa-arrow-circle-left */
//   content: "\f0a8";
// }
// .slick-next::before {
//   /* fa-arrow-circle-right */
//   content: "\f0a9";
// }

.slick-prev, .slick-next{
   width:50px;
   height: 50px;
   z-index: 10;
   background-color: black;
   border-radius: 10px;
   &:hover{
     background-color: red;
  }
}

.department-list{
    min-height: 100%;
  .college{
    height: 400px;
    padding: 10px;
    .inner-college{
        color:#fff;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        background-position: center;
        background-repeat:no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
      }
  }
  
  .inner-dialog{
    min-width:800px;

    .inner-header{
        background: #f1f2f4;
        text-align: left;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .inner-title{
            font-size: 20px;
            font-family: roboto;
        }
    }
    .modal-body{
        overflow-y: scroll;
        min-height: 100%;
        .department{
            height: 280px;
            padding: 10px;
            .inner-department{
                background-color: powderblue;
                color:#fff;
                height: 100%;
                border-radius: 10px;
                background-position: center;
                background-repeat:no-repeat;
                background-size: 100% 100%;
                cursor: pointer;
                p{
                    position: relative;
                    font-size: 20px;
                    text-align: center;
                    top:30%
                }
            }
        }
    }
    .modal-footer{
        background-color: #f1f2f4;
    }

  }


 }

 .news{
   padding: 10px;
   .inner-news{
     background-color: #fff;
     border-radius: 10px;
     padding: 10px;
   }
 }
 
 .news-list-container {
  font-size: 20px;
  background-color: white;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.15);
  border: 0px solid rgba(0,0,0,.0625);

  .year-th {
      white-space: nowrap;
      vertical-align: middle;
  }

  .badge-salmon{
     background: #ff5959;
  }
}

.card-block.card-height {
  height: calc(100% - 30px);
}

.card-block.card-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  -webkit-box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
  box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
  .card-body {
    padding: 20px;
    .bg-primary{
      color:#fff;
      background: #1e7fe4;
    }
    .card-icon {
      height: 66px;
      width: 66px;
      display: inline-block;
      line-height: 66px;
      text-align: center;
      font-size: 22px;
    }
  }
}

.product-card {
  background: #ffffff;;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  -webkit-box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
  box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);

  .product-card-header{
    padding: 20px;
    margin-bottom: 0;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    border-bottom: 1px solid #f1f1f1;

    .product-card-header-title{

        .card-title{
            margin-bottom: 0;
        }
    }
}

  .product-card-body {
      padding: 20px;
      .product-card-block.product-card-height {
          height: calc(100% - 30px);
      }
      .product-card-block.product-card-stretch {
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
      }
      .product-card-block {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
      }

      p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

      .font-size-13 {
          font-size: 16px !important;
      }

      .line-height {
          line-height: normal !important;
      }

      .product-action {
          border-radius: 12px;
          font-size: 26px;
          line-height: 20px;
      }

      .view-book {
          .btn-white {
              font-size: 14px;
              background-color: #ffffff;
              border-color: #ffffff;
              color: rgb(30, 127, 228);
          }

          .btn-white:hover {
              font-size: 14px;
              background-color: rgb(30, 127, 228);
              border-color: rgb(30, 127, 228);
              color: #ffffff;
              transition: all 0.5s ease-out 0s;
          }
      }


      @media(max-width: 720px) {
          .view-book .btn-white {
                  font-size: 12px;
              }
        }
  }
}

li .image-overlap-shadow:before { 
  content: ""; 
  border-radius: 5px; 
  height: 100%; 
  left: 0; 
  top: 0px; 
  position: absolute; 
  -webkit-transition: all 0.3s ease-out 0s; 
  -moz-transition: all 0.3s ease-out 0s; 
  -ms-transition: all 0.3s ease-out 0s; 
  -o-transition: all 0.3s ease-out 0s; 
  transition: all 0.3s ease-out 0s; 
  width: 100%; 
}

li:hover .image-overlap-shadow:before{ 
  background: rgba(0, 0, 0, 0.70); 
  -webkit-transition: all 0.3s ease-out 0s; 
  -moz-transition: all 0.3s ease-out 0s; 
  -ms-transition: all 0.3s ease-out 0s; 
  -o-transition: all 0.3s ease-out 0s; 
  transition: all 0.3s ease-out 0s; 
}

li .image-overlap-shadow .view-book {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 40%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}


li:hover .image-overlap-shadow .view-book {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.product-action {
  a {  
    border: 1px solid grey; 
    border-radius: 12px;  
    font-size: 14px;
       .heart{
           padding: 5px;
           color:gray;
           span {
               display: inline-block;
               margin-left: 0.3rem;
           }
       }
       .cart{
           padding: 5px;
           color:gray;
           span {
               display: inline-block;
               margin-left: 0.3rem;
           }
       }
  }

  a.h-t:hover{
      border: 1px solid indianred;
      .heart{
       color:indianred;
       }
   }
   a.c-t:hover{
      border: 1px solid #4279ff;
      .cart{
       color: #4279ff;
       }
   }
  @media(max-width: 720px) {
           a{
               font-size: 16px;
           }
       }
   @media(max-width: 580px) {
       a{
           font-size: 12px;
       .cart{
               span {
                   display: inline-block;
                   margin-left: 1px;
               }
           }
       }
   }
}



 
 @media screen and (max-width: 768px) {
    .department-list{
        min-height: 100%;

      .college{
        height: 250px;

        .inner-college{
            height: 240px;
          }
      }
      .inner-dialog{
        min-width:600px;

        .modal-body{
            overflow-y: scroll;
            max-height: calc(100% - 120px);  

            .department{
                height: 250px;

                .inner-department{
                    height: 240px;
                    p{
                        position: relative;
                        font-size: 16px;
                        text-align: center;
                        top:30%
                    }
                } 
            } 
        }
      }
    }
  }


  @media screen and (max-width: 576px) {
    .department-list{
        min-height: 100%;

      .college{
        height: 150px;

        .inner-college{
            height: 140px;
          }
      }

      .inner-dialog{
        min-width:270px;

        .modal-body{
            overflow-y: scroll;
            max-height: calc(100% - 120px);  

            .department{
                height: 200px;

                .inner-department{
                    height: 190px;
                    p{
                        position: relative;
                        font-size: 14px;
                        text-align: center;
                        top:30%
                    }
                } 
            } 
        }

      }
    }
  }