.department-list{
  min-height: 100%;
.department{
  height: 350px;
  border-radius: 10px;
  padding: 10px;
}

.department2{
  height: 350px;
  background: pink;
  border-radius: 10px;
  padding: 10px;
}
}