#chat{
    a {
    text-decoration: none!important;
    }
    .page-title-box {
      padding-bottom: 1.25rem;
    }
    .card {
      margin-bottom: 1.25rem;
      -webkit-box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
      box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    }
    .me-1 {
      margin-right: .25rem!important;
    }
    .me-2 {
      margin-right: .5rem!important;
    }
    .me-3 {
      margin-right: 1rem!important;
    }
    .avatar-xs {
      height: 2rem;
      width: 2rem;
    }
    .font-size-10 {
      font-size: 10px!important;
    }
    .font-size-11 {
      font-size: 11px!important;
    }
    .font-size-12 {
      font-size: 12px!important;
    }
    .font-size-14 {
      font-size: 14px!important;
    }
    .font-size-16 {
      font-size: 16px!important;
    }
    .text-success {
      color: #34c38f!important;
    }
    .ms-1 {
      margin-left: .25rem!important;
    }
    .ms-2 {
      margin-left: .5rem!important;
    }
    .chat-noti-dropdown .btn {
      padding: 6px;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-size: 20px;
      background: none;
    }
    .dropdown-menu-end {
      position: end;
    }
    .dropdown-menu-end[style] {
      left: auto!important;
      right: 0!important;
    }
    .chat-search-box .form-control {
      border: 0;
    }
    .search-box .form-control {
      border-radius: 30px;
      padding-left: 40px;
    }
    .search-box .search-icon {
      font-size: 16px;
      position: absolute;
      left: 13px;
      top: 0;
      line-height: 38px;
    }
    .chat-list {
      margin: 0;
    }
    .chat-list li a {
      position: relative;
      display: block;
      color: #74788d;
      -webkit-transition: all .4s;
      transition: all .4s;
      padding: 12px;
      border-top: 1px solid #f5f6f8;
      border-radius: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 500;
    }
    .chat-list li.active a {
      background-color: rgba(91,115,232,.075);
      border-color: transparent;
    }
    .chat-list li .user-img {
      position: relative;
    }
    .chat-list li .user-img.online .user-status {
      background-color: #34c38f;
    }
    .chat-list li .user-img .user-status {
      width: 10px;
      height: 10px;
      background-color: #adb5bd;
      border-radius: 50%;
      border: 2px solid #fff;
      position: absolute;
      right: 0;
      bottom: 0;
  }
  .chat-list li a:hover {
    background-color: rgba(91,115,232,.075);
    border-color: transparent;
  }
  .chat-list li.unread a {
    font-weight: 600;
    color: #343a40;
  }
  .avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #5b73e8;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  .bg-soft-primary {
    color: #5b73e8;
    background-color: rgba(91,115,232,.18);
  }
  .bg-soft-primary {
    background-color: rgba(91,115,232,.25)!important;
  }
  .text-primary {
    color: #5b73e8!important;
  }
  .badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
  }
  .bg-danger {
    background-color: #f46a6a!important;
  }
  .rounded-pill {
    padding-right: .6em;
    padding-left: .6em;
  }
  .rounded-pill {
    border-radius: 50rem!important;
  }
  .user-chat-nav .dropdown .nav-btn {
    height: 36px;
    width: 36px;
    line-height: 36px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    font-size: 16px;
    border-radius: 50%;
  }
  .text-end {
    text-align: right!important;
  }
  .user-chat-nav .dropdown .dropdown-menu {
    -webkit-box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    border: 1px solid #f5f6f8;
  }
  .chat-conversation .conversation-list {
    margin-bottom: 24px;
    position: relative;
  }
  .chat-conversation .conversation-list .ctext-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  .chat-conversation .conversation-list .ctext-wrap-content {
    padding: 12px 20px;
    background-color: rgba(91,115,232,.1);
    border-radius: 0 8px 8px 8px;
    color: #74788d;
    position: relative;
    margin-left: 16px;
  }
  .chat-conversation .conversation-list .conversation-name {
    margin-bottom: 4px;
  }
  .chat-conversation .conversation-list .dropdown i {
    font-size: 18px;
    padding: 4px;
    color: #74788d;
  }
  .dropdown-menu {
    -webkit-box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    -webkit-animation-name: DropDownSlide;
    animation-name: DropDownSlide;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin: 0;
    position: absolute;
    z-index: 1000;
  }
  .chat-conversation li {
    clear: both;
  }
  .chat-conversation .right .conversation-list {
    float: right;
    text-align: right;
  }
  .chat-input {
    border-radius: 30px;
    background-color: #f5f6f8!important;
    border-color: #f5f6f8!important;
  }
  .chat-input-section {
    border-top: 1px solid #f5f6f8;
  }
  .w-md {
    min-width: 110px;
  }
  .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .btn-primary {
    color: #fff;
    background-color: #5b73e8;
    border-color: #5b73e8;
  }
  .float-end {
    float: right!important;
  }
}





@media (min-width: 1200px){
  .chat-leftsidebar {
      min-width: 380px;
  }
}

@media (min-width: 992px){
  .ms-lg-1 {
      margin-left: .25rem!important;
  }
}

@media (min-width: 992px){
  .px-lg-4 {
      padding-right: 1.5rem!important;
      padding-left: 1.5rem!important;
  }
}

@media (min-width: 576px){
  .mt-sm-0 {
      margin-top: 0!important;
  }
}
@media (min-width: 576px){
  .d-sm-inline-block {
      display: inline-block!important;
  }
}
@media (max-width: 575.98px){
.chat-send {
    min-width: auto;
}
}
@media (min-width: 600px){
  .dropdown-menu-md {
      width: 240px;
  }
}
