.wish-card {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
}

.wish-card .wish-card-header {
  padding: 20px;
  margin-bottom: 0;
  align-items: center !important;
  border-bottom: 1px solid #f1f1f1;
}

.wish-card .wish-card-body {
  padding: 20px;
}

.wish-card .wish-card-body .checkout-product {
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
  padding: 25px;
}

.wish-card .wish-card-body .checkout-product .bage {
  padding: 0.3em 0.6em;
  line-height: 1.3;
  text-transform: capitalize;
}

.wish-card .wish-card-body .checkout-product .badge-danger {
  color: #fff;
  background: #ff9b8a;
}

.wish-card .wish-card-body .checkout-product .checkout-product-img {
  vertical-align: middle;
  max-height: 100px;
  max-width: 80px;
  display: inline-block;
}

.wish-card .wish-card-body .cart {
  border-left: 4px solid #f1f1f1;
}

.wish-card .wish-card-body .cart .cart-summary .pricing-summary .summary-title {
  color: #333333;
  font-weight: 600;
}

.wish-card .wish-card-body .cart .cart-summary .pricing-summary .summary-title .pricing {
  float: right;
  font-size: 16px;
}

.wish-card .wish-card-body .cart .cart-summary .pricing-summary .summary-title .pricing .b-text-prime {
  font-weight: bold;
  color: #333333;
  font-size: 22px;
}

.wish-card .wish-card-body .cart .cart-summary .summary-product-total {
  margin: 16px 0px 0px 0px;
}

.wish-card .wish-card-body .cart .cart-summary .summary-product-total .total-pricing {
  color: #bf0000;
  font-weight: bold;
  float: right;
  font-size: 26px;
}

.wish-card .price-title {
  color: navy;
  font-size: 24px;
  font-weight: 600;
}

.primary {
  color: #fff;
  background-color: navy;
}

.btn-outline-primary {
  border-color: navy;
  color: navy;
}

.btn-outline-primary:hover {
  border-color: lightsteelblue;
  background-color: lightsteelblue;
  color: #fff;
}

@media (max-width: 1980px) and (max-width: 575px) {
  li.checkout-product {
    text-align: center;
  }
}

