body.sidebar-main .campus-top-navbar {
    width: calc(100% - 80px);
}
//top-navbar
.campus-top-navbar {
    padding: 0 15px 0 30px;
    min-height: 73px;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    width: calc(100% - 300px);
    display: inline-block;
    z-index: 99;
    background: #fbfcff;
    border-bottom: 1px solid #ededf0;
    margin: 0;
    transition: all 0.45s ease 0s;
    .campus-navbar-custom{
      .campus-menu-bt {
        display: none;
      }
      .navbar-breadcrumb {
        display: block;
        margin-left: 0px;
        padding: 20px 0;
        h5 {
          font-size: 1.200em;
        }
      }
    }
    .navbar-expand-lg {
      justify-content: space-between !important;
    }
    .navbar-collapse {
      flex-grow: unset;
    }
    .campus-search-box {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      background-color: #ffffff;
      transition: all 0.3s;
      padding: 15px;
      -webkit-box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
      -moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
      box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    .campus-sub-dropdown {
      width: 300px;
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      background-color: var(--iq-white);
      transition: all 0.3s;
      padding: 0;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
      -moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
      box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      .campus-card-body{
        div {
          border-radius: 5px 5px 0 0;
        }
      }
    }
  }
  
  .campus-navbar-logo {
    padding: 20px;
    width: auto;
    position: relative;
    background: var(--iq-white);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    background: transparent;
    a {
      display: flex;
      align-items: flex-start;
      span {
        margin-left: 10px;
        font-size: 19px;
        line-height: 42px;
        font-weight: 600;
        color: #777D74;
        text-transform: uppercase;
        flex: 1;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
      }
    }
    img {
      height: 45px;
    }
    .text-primary{
      color: rgb(30, 127, 228) !important;
    }
  }
  
  .campus-search-bar {
    padding: 0 15px;
    .campus-searchbox {
      width: 480px;
      position: relative;
    }
    .campus-search-input {
      width: 100%;
      height: 40px;
      padding: 5px 15px 5px 40px;
      font-size: 13px;
      border-radius: 5px;
      border: none;
      box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
      &:focus{
        outline:none;
      }
    }
    .campus-search-link {
      position: absolute;
      left: 15px;
      top: 5px;
      font-size: 16px;
      color: #777D74;
    }
  }
  
  .navbar-light{
    .navbar-toggler {
      color: rgba(0, 0, 0, .5);
      border-color: rgba(0, 0, 0, .1);
    }
  }
  
  .navbar-list {
    margin: 0;
    padding: 0;
    float: right;
    li {
      float: left;
      list-style-type: none;
      position: relative;
      .campus-sub-dropdown{ 
          .campus-sub-card {
            font-size: inherit;
            padding: 15px;
            line-height: normal;
            color: inherit;
            border-bottom: 1px solid #fbfcff;
            display: inline-block;
            width: 100%;
        }
      }
    }
  }
  
  .navbar-list li.nav-item.nav-icon > a {
    color: #ffffff;
    padding: 0;
    height: 35px;
    width: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    margin: 25px 10px;
  }
  
  .navbar-list li>a {
    font-size: 18px;
    padding: 0 15px;
    color: rgb(30, 127, 228);
    display: block;
  }
  
  .campus-waves-effect {
    position: relative;
  }
  
  .text-gray {
    color: #777D74 !important;
  }
  
  .campus-search-box{ 
    .campus-search-input {
      width: 300px;
      height: 50px;
      padding: 0 1em 0 40px;
      border: 1px solid #fbfcff;
      background-color: #fbfcff;
      opacity: 1;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    .campus-search-block{
        width: 300px;
        .re{
            width: 300px;
        }
    }
  }
  
  .campus-search-box {
    .campus-search-link {
      position: absolute;
      top: 12px;
      left: 15px;
    }
  }

  .avatar-xs {
    height: 2rem;
    width: 2rem;
    .avatar-title {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #5b73e8;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: 500;
      height: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
    }
  
    .bg-soft-primary {
      color: #5b73e8;
      background-color: rgba(91,115,232,.18);
    }
    .bg-soft-primary {
      background-color: rgba(91,115,232,.25)!important;
    }
    .text-primary {
      color: #5b73e8!important;
    }
  }
  
  
  @keyframes shadow-pulse-dots {
    0% { box-shadow: 0 0 0 0px rgba(0, 177, 255, 0.2); }
    100% { box-shadow: 0 0 0 15px rgba(0, 177, 255, 0); }
  }
  @-webkit-keyframes fade-in-bottom {
    0% { -webkit-transform: translateY(50px); transform: translateY(50px); opacity: 0; }
    100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  }
  @keyframes fade-in-bottom {
    0% { -webkit-transform: translateY(50px); transform: translateY(50px); opacity: 0; }
    100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  }
  .nav-item span.dots {
    height: 6px;
    width: 6px;
    font-size: 0;
    text-align: center;
    padding: 0;
    position: absolute;
    top: -4px;
    right: -2px;
    border: 0;
    -webkit-animation: shadow-pulse-dots 1s infinite;
    animation: shadow-pulse-dots 1s infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  .nav-item .badge.count-notify {
    height: 15px;
    width: 15px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    padding: 0;
    position: absolute;
    top: -4px;
    right: -3px;
}
.nav-item .badge.badge-danger {
    color: #ffffff;
    background: #ff9b8a !important;
}
  
  .campus-card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
    box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
    .campus-card-body {
      padding: 20px;
      .bg-primary{
        color: #ffffff;
        background: rgb(30, 127, 228);
      }
      .avatar-40 {
        height: 40px;
        width: 40px;
        min-width: 40px;
        line-height: 40px;
      }
      .font-size-12 {
        font-size: 12px !important;
      }
    }
  }

  .campus-show .campus-search-box {
    display: inline-block;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
  
  .campus-show .campus-sub-dropdown {
    display: inline-block;
  }
  
  .navbar-list li:last-child>a {
    padding-right: 0;
  }
  
  .navbar-list li > a > img {
    width: 50px;
    height: 50px;
  }
  
  .navbar-list li a:hover {
    text-decoration: none;
  }
  
  .navbar-list{ 
    li {
      .caption {
        line-height: 16px;
        h6{
          font-size: 1.0em;
          color:#11141b;
        }
      }
    }
  }
  
  .navbar-list li .caption p {
    color: var(--iq-body-text);
    font-size: 12px;
  }
  
  .campus-sub-dropdown .campus-card-icon {
    width: 45px;
    height: 45px;
    line-height: 40px;
    font-size: 22px;
  }
  
  .campus-user-dropdown {
    width: 350px;
  }
  
  .campus-card-icon {
    height: 66px;
    width: 66px;
    display: inline-block;
    line-height: 66px;
    text-align: center;
    font-size: 22px;
  }
  
  .campus-bg-primary {
    background: #fbfcff !important;
    color: rgb(30, 127, 228) !important;
  }
  
  .campus-sign-btn {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem 1rem;
    border-radius: 5px;
    line-height: normal;
  }