.product-transparent {
  background: transparent;
  border-radius: 15px;
  margin-bottom: 30px;
  border: none;
  box-shadow: none;
}

.product-transparent .product-search-filter {
  margin-bottom: 30px;
}

.product-transparent .product-search-filter .product-dropdown {
  padding: 0px 5px;
}

.product-transparent .product-search-filter .product-dropdown .form-control {
  height: 45px;
  line-height: 45px;
  background: transparent;
  border: 1px solid #f1f1f1;
  font-size: 14px;
  color: #a09e9e;
  border-radius: 5px;
}

.product-transparent .product-search-filter .product-dropdown .form-control.form-search-control {
  box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
}

.product-transparent .product-search-filter .product-search-bar {
  padding: 0 15px;
}

.product-transparent .product-search-filter .product-search-bar .search-link {
  position: absolute;
  left: 15px;
  top: 5px;
  font-size: 16px;
  color: #777D74;
}

.product-transparent .product-search-filter .product-search-bar.search-book {
  padding: 0px 5px;
}

.product-transparent .product-search-filter .product-search-bar.search-book .search-input {
  height: 45px;
}

.product-transparent .product-search-filter .product-search-bar.search-book .search-input:focus {
  outline: none;
  box-shadow: none;
}

.product-transparent .product-search-filter .product-search-bar.search-book .searchbox .search-link {
  top: 9px;
}

.product-transparent .product-search-filter .product-search-bar.search-book .search-data {
  height: 45px;
}

.title-text {
  width: 150px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0 3px;
  color: #2c3652;
  text-shadow: 0 0 1px rgba(241, 245, 250, 0.1);
  font-family: "Roboto", sans-serif;
}

.btn-favorite {
  background-color: #f0c7ce;
  color: #852234;
}

.btn-favorite:hover {
  background-color: #ff173c;
  color: #fff;
}

.btn-cart {
  background-color: rgba(23, 97, 253, 0.1);
  color: #1761fd;
}

.btn-cart:hover {
  background-color: #1761fd;
  color: #fff;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.badge-primary {
  background-color: rgba(23, 97, 253, 0.1);
  color: #1761fd;
}

.new-item {
  background: #ffffff;
  border: 1px solid #ced3e0;
}

.product-search-bar .searchbox {
  width: 480px;
  position: relative;
}

.product-search-bar .search-input {
  width: 100%;
  height: 40px;
  padding: 5px 15px 5px 40px;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
}

@media (max-width: 359px) {
  .product-search-bar .searchbox {
    width: 160px;
  }
}

@media (max-width: 479px) {
  .product-card-body {
    padding: 15px;
  }
}

@media (max-width: 479px) {
  .product-search-bar {
    padding: 0 15px;
    width: 100%;
    margin: 15px 0 0;
  }
}

@media (max-width: 580px) {
  .product-search-filter {
    margin-bottom: 0;
  }
}

@media (max-width: 580px) {
  .product-search-bar.search-book .searchbox {
    width: 77%;
  }
}

@media (max-width: 580px) {
  .search-menu-options > li {
    margin-bottom: 20px;
  }
}

@media (max-width: 580px) {
  li.search-menu-opt {
    width: 100%;
  }
}

@media (max-width: 1699px) {
  .product-search-bar .searchbox {
    width: 330px;
  }
}

@media (max-width: 1699px) {
  .product-search-bar.search-book .searchbox {
    width: 280px;
  }
}

