img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.product {
  min-height: 100%;
}

.product .left {
  background-color: #e9ecef;
  height: 650px;
}

.product .left .big-image {
  height: 75%;
  display: none;
  cursor: pointer;
}

.product .left .big-image:hover {
  opacity: 0.7;
}

.product .left .prev,
.product .left .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.product .left .next {
  right: 15px;
  border-radius: 0 3px 3px 0;
}

.product .left .prev:hover,
.product .left .next:hover {
  background-color: #c3d0ff;
}

.product .left .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  /* Add Animation */
}

.product .left .modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.product .left .modal #modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.product .left .modal .modal-content,
.product .left .modal #modal-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.product .left .modal .close {
  position: absolute;
  top: 80px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.product .left .modal .close:hover,
.product .left .modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.product .left .caption-container {
  text-align: center;
  background-color: #5b6de1;
  padding: 2px 16px;
  color: white;
}

.product .left .image-row:after {
  content: "";
  display: table;
  clear: both;
}

.product .left .small-image {
  float: left;
  width: 20%;
}

.product .left .small-image .cursor {
  cursor: pointer;
}

.product .left .small-image .demo {
  opacity: 0.6;
}

.product .left .small-image .active,
.product .left .small-image .demo:hover {
  opacity: 1;
}

.product .right {
  min-height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.product .right .product-name {
  margin-top: 10px;
}

.product .right .product-name .inner-detail {
  padding: 10px;
}

.product .right .product-name .inner-detail .operate {
  display: flex;
  justify-content: center;
}

.product .right .product-name .inner-detail .classname {
  background-color: powderblue;
}

.product .right .product-name .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.product .right .product-name .hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.product .right .product-name .hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}

.product .right .save {
  transition: all 0.3s ease;
  border-radius: 50px;
  width: 48%;
  float: left;
  border: 2px solid salmon;
  color: salmon;
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product .right .save:hover {
  color: #fff;
  background-color: salmon;
}

.product .right .saved {
  transition: all 0.3s ease;
  border-radius: 50px;
  width: 48%;
  float: left;
  border: 2px solid salmon;
  color: #fff;
  background-color: salmon;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product .right .saved i {
  color: #fff;
}

.product .right .cart {
  transition: all 0.3s ease;
  border: 2px solid #1e7fe4;
  border-radius: 50px;
  width: 48%;
  float: right;
  color: #fff;
  background-color: #1e7fe4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product .right .cart.selected {
  background-color: #171a99;
  border: 2px solid #171a99;
}

.product .right .buy {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  transition: all 0.3s ease;
  border-radius: 50px;
  width: 100%;
  float: left;
  color: #fff;
  background: mediumseagreen;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product .user {
  min-height: 120px;
  background-color: #fff;
}

.product .user .user-data {
  width: 100%;
  height: 100%;
}

.product .user .user-data .user-avatar {
  float: left;
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

.product .user .user-data .user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 1px solid #000;
}

.product .user .user-data .user-name {
  float: left;
  width: 120px;
  height: 80px;
  margin-top: 15px;
  margin-left: 15px;
}

.product .user .user-data .user-contact {
  width: 180px;
  height: 50px;
  margin-top: 30px;
  margin-right: 20px;
  float: right;
}

.product .user .user-data .user-contact a {
  margin-right: 20px;
  height: 40px;
  border-radius: 8%;
}

.product .user .product-comment a {
  color: inherit;
}

.product .user .product-comment .meta {
  font-size: 0.9em;
  color: #b3b3b3;
}

.department-badge {
  background-color: #5b6de1;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 720px) {
  .user-contact.min-user-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .user-contact.min-user-contact a {
    margin-right: 20px;
    height: 40px;
  }
}

@media screen and (max-width: 720px) {
  .left {
    height: 550px;
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

