.product {
  min-height: 100%;
}

.product .left {
  border-radius: 10px;
  background-color: #f8f9fa;
  height: 650px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.product .left .big-image {
  border: 1px solid #C0C0C0;
  margin-top: 10px;
  height: 75%;
}

.product .left .big-image .tag-left {
  float: left;
  position: absolute;
  left: 0px;
  top: 35%;
  z-index: 1000;
  background-color: #92AD40;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
}

.product .left .big-image .image {
  width: 100%;
  height: 100%;
}

.product .left .big-image .tag-right {
  float: right;
  position: absolute;
  right: 0px;
  top: 35%;
  z-index: 1000;
  background-color: #92AD40;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
}

.product .left .small-image {
  height: 20%;
  margin-top: 10px;
}

.product .left .small-image .xsimage {
  width: 20%;
  height: 100%;
  float: left;
}

.product .left .small-image .xsimage .images {
  width: 100%;
  height: 100%;
}

.product .left .small-image .xsimage .active {
  border: 1px solid #FF1493;
}

.product .center {
  background-color: #E8ECF5;
}

.product .right {
  min-height: 100%;
  border-radius: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.product .right .product-name {
  margin-top: 10px;
}

.product .right .product-name .inner-detail {
  padding: 10px;
}

.product .right .product-name .inner-detail .operate {
  display: flex;
  justify-content: center;
}

.product .right .product-name .inner-detail .classname {
  background-color: powderblue;
}

.product .right .product-name .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.product .right .product-name .hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.product .right .product-name .hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}

.product .right .save {
  transition: all 0.3s ease;
  border-radius: 50px;
  width: 48%;
  float: left;
  border: 2px solid #D9534F;
  color: #D9534F;
  background-color: #FFF;
}

.product .right .save:hover {
  color: #fff;
  background-color: #D9534F;
}

.product .right .cart {
  transition: all 0.3s ease;
  border: 2px solid #191970;
  border-radius: 50px;
  width: 48%;
  float: right;
  color: #191970;
  background-color: #FFF;
}

.product .right .cart:hover {
  color: #fff;
  background-color: #191970;
}

.product .right .buy {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  transition: all 0.3s ease;
  border-radius: 50px;
  width: 100%;
  float: left;
  color: #fff;
  background: #708090;
}

.product .user {
  min-height: 100px;
  background-color: #f8f9fa;
}

.product .user .user-data {
  width: 100%;
  height: 100%;
}

.product .user .user-data .user-avatar {
  float: left;
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

.product .user .user-data .user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 1px solid #000;
}

.product .user .user-data .user-name {
  float: left;
  width: 120px;
  height: 80px;
  margin-top: 15px;
  margin-left: 15px;
}

.product .user .user-data .user-contact {
  width: 180px;
  height: 50px;
  margin-top: 20px;
  margin-left: 10px;
  float: right;
}

@media screen and (max-width: 720px) {
  .product .left {
    height: 550px;
  }
}

