@charset "UTF-8";

#user-create-edit form {
  max-width: 1000px;
}

#user-create-edit table tr td:first-child {
  padding-top: 19px;
  white-space: nowrap;
  width: 1%;
}

#user-create-edit .avatar-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
}

#user-create-edit .avatar-wrapper:hover {
  transform: scale(1);
  cursor: pointer;
}

#user-create-edit .avatar-wrapper:hover .profile-pic {
  opacity: 0.5;
}

#user-create-edit .avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

#user-create-edit .avatar-wrapper .profile-pic:after {
  font-family: FontAwesome;
  content: "\F007";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 190px;
  background: #ecf0f1;
  color: #34495e;
  text-align: center;
}

#user-create-edit .avatar-wrapper .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#user-create-edit .avatar-wrapper .upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 234px;
  top: -17px;
  left: -18px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #34495e;
}

#user-create-edit .avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
  opacity: 0.9;
}

